.bgPic {
    z-index: 2;
    width: 100%;
    object-fit: cover;
    opacity: .7;
    height: 60vh;
}

.picBack {
    height: 60vh;
    z-index: 0;
    background: #190217;
}

.pageTitle {
    color: white;
    position: relative;
    bottom: 30vh;
}

.form {
    text-align: left;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}