.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    color: white;
    background-color: #FFFFFF00;
    transition: background-color .5s ease-in-out;
}

.navBar-header {
    display: flex;
    flex-direction: row;
    padding: .5em 2em;
    align-items: center;
}

.navBar-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: auto;
}

.navBar-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navBar-logo {
    box-sizing: content-box;
    font-size: 16px;
    height: 3em;
    object-fit: cover;
    margin-top: -3px;
    padding-bottom: 3px;
}

.navBar-logo-link {
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
}


.navBar-logo-title {
    white-space: nowrap;
    display: flex;
    color: white;
    align-items: center;
    margin-left: 4px;
    font-family: "Aquire-Regular", serif;
    font-size: 28px;
    transition: color .2s ease-in-out;
}

.navBar-logo-title:hover {
    color: #FB7299;
}

.navBar-menu {
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navBar-menu-item {
    font-size: 16px;
    margin: 14px 1em;
}

.navBar-menu-link {
    white-space: nowrap;
    color: white;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

.navBar-menu-link:hover {
    color: #FB7299;
}

.navBar-menu-item:hover {
    border-bottom: solid 2px;
    border-bottom-color: #FB7299;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

.navBtn {
    display: none;
}

.navBtnIcon {
    font-size: 24px;
    color: white;
    transition: color .2s ease-in-out;
}

.navBtnIcon:hover {
    color: #FB7299;
}

.weather {
    margin-left: 1em;
}

@media (max-width: 768px) {
    .weather {
        display: none;
    }
}

@media (max-width: 680px) {
    .navBtn {
        display: inline-block;
    }

    .navBar-menu-open {
        height: 214px;
    }
    .navBar-menu-close {
        height: 0;
    }

    .navBar-menu {
        padding: 0;
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 56px;
        right: 0;
        background-color: #2e2e2e;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
    }
}